ehealth_connector-validation/ehealth_connector-validation-service/rsc/schema/POCD_MT000040.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
*******************************************************************************
Domain schema for HL7 Clinical Document Architecture (CDA) R2 (2005)
Currently included by CDA.xsd

History:
2005.00.00 HL7 Inc. (adopted by VHitG)
2013.05.17 Tony Schaller, medshare GmbH, Switzerland (re-formatted cr/lf)
2013.05.18 Tony Schaller, medshare GmbH, Switzerland (namespaces and fix added for class generation using JAXB; don't forget the -extension option for xjc ;-)

*******************************************************************************
-->
<xs:schema
	xmlns:hl7v3="urn:hl7-org:v3"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-org:v3"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:version="1.0"
	jaxb:extensionBindingPrefixes="xjc"
	elementFormDefault="qualified">

	<!--
	*****************************************************************************************************************
	* XML schema for message type POCD_MT000040.
	* Generated by XMLITS version 2.0
	*
	* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
	*  Redistribution and use in source and binary forms, with or without
	*  modification, are permitted provided that the following conditions
	*  are met:
	*  1. Redistributions of source code must retain the above copyright
	*     notice, this list of conditions and the following disclaimer.
	*  2. Redistributions in binary form must reproduce the above copyright
	*     notice, this list of conditions and the following disclaimer in the
	*     documentation and/or other materials provided with the distribution.
	*  3. All advertising materials mentioning features or use of this software
	*     must display the following acknowledgement:
	*       This product includes software developed by Health Level Seven.
	*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
	*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
	*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
	*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
	*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
	*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
	*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
	*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
	*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
	*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
	*  SUCH DAMAGE.
	*
	********************************************************************************************************************
	-->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
			RoseTreeToMIFStaticModel.xsl version: 1.1
		StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="coreschemas/voc.xsd"/>
	<xs:include schemaLocation="coreschemas/narrative-block.xsd"/>
	<xs:complexType name="POCD_MT000040.InfrastructureRoot.typeId">
		<xs:complexContent>
			<xs:restriction base="hl7v3:II">
				<xs:attribute name="root" type="hl7v3:uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="hl7v3:st" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Act">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:x_ActClassDocumentEntryAct" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:x_DocumentActMood" use="required"/>
		<xs:attribute name="negationInd" type="hl7v3:bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssignedAuthor">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="assignedPerson" type="hl7v3:POCD_MT000040.Person" minOccurs="0"/>
				<xs:element name="assignedAuthoringDevice" type="hl7v3:POCD_MT000040.AuthoringDevice" minOccurs="0"/>
			</xs:choice>
			<xs:element name="representedOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassAssignedEntity" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssignedCustodian">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="representedCustodianOrganization" type="hl7v3:POCD_MT000040.CustodianOrganization"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassAssignedEntity" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssignedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assignedPerson" type="hl7v3:POCD_MT000040.Person" minOccurs="0"/>
			<xs:element name="representedOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassAssignedEntity" use="optional" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AssociatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="associatedPerson" type="hl7v3:POCD_MT000040.Person" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassAssociative" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Authenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:TS"/>
			<xs:element name="signatureCode" type="hl7v3:CS"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="AUTHEN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Author">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="functionCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="time" type="hl7v3:TS"/>
			<xs:element name="assignedAuthor" type="hl7v3:POCD_MT000040.AssignedAuthor"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.AuthoringDevice">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="hl7v3:SC" minOccurs="0"/>
			<xs:element name="softwareName" type="hl7v3:SC" minOccurs="0"/>
			<xs:element name="asMaintainedEntity" type="hl7v3:POCD_MT000040.MaintainedEntity" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassDevice" use="optional" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Authorization">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consent" type="hl7v3:POCD_MT000040.Consent"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipType" use="optional" fixed="AUTH"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Birthplace">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="place" type="hl7v3:POCD_MT000040.Place"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClass" use="optional" fixed="BIRTHPL"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ClinicalDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II"/>
			<xs:element name="code" type="hl7v3:CE"/>
			<xs:element name="title" type="hl7v3:ST" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:TS"/>
			<xs:element name="confidentialityCode" type="hl7v3:CE"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="setId" type="hl7v3:II" minOccurs="0"/>
			<xs:element name="versionNumber" type="hl7v3:INT" minOccurs="0"/>
			<xs:element name="copyTime" type="hl7v3:TS" minOccurs="0"/>
			<xs:element name="recordTarget" type="hl7v3:POCD_MT000040.RecordTarget" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="hl7v3:POCD_MT000040.DataEnterer" minOccurs="0"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="custodian" type="hl7v3:POCD_MT000040.Custodian"/>
			<xs:element name="informationRecipient" type="hl7v3:POCD_MT000040.InformationRecipient" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="legalAuthenticator" type="hl7v3:POCD_MT000040.LegalAuthenticator" minOccurs="0"/>
			<xs:element name="authenticator" type="hl7v3:POCD_MT000040.Authenticator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="hl7v3:POCD_MT000040.InFulfillmentOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="documentationOf" type="hl7v3:POCD_MT000040.DocumentationOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="relatedDocument" type="hl7v3:POCD_MT000040.RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="authorization" type="hl7v3:POCD_MT000040.Authorization" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="hl7v3:POCD_MT000040.Component1" minOccurs="0"/>
			<xs:element name="component" type="hl7v3:POCD_MT000040.Component2"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="ID_attr"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClinicalDocument" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component1">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="encompassingEncounter" type="hl7v3:POCD_MT000040.EncompassingEncounter"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipHasComponent" use="optional" fixed="COMP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component2">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="nonXMLBody" type="hl7v3:POCD_MT000040.NonXMLBody"/>
				<xs:element name="structuredBody" type="hl7v3:POCD_MT000040.StructuredBody"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipHasComponent" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component3">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="section" type="hl7v3:POCD_MT000040.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipHasComponent" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component4">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sequenceNumber" type="hl7v3:INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="hl7v3:BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="hl7v3:POCD_MT000040.Act"/>
				<xs:element name="encounter" type="hl7v3:POCD_MT000040.Encounter"/>
				<xs:element name="observation" type="hl7v3:POCD_MT000040.Observation"/>
				<xs:element name="observationMedia" type="hl7v3:POCD_MT000040.ObservationMedia"/>
				<xs:element name="organizer" type="hl7v3:POCD_MT000040.Organizer"/>
				<xs:element name="procedure" type="hl7v3:POCD_MT000040.Procedure"/>
				<xs:element name="regionOfInterest" type="hl7v3:POCD_MT000040.RegionOfInterest"/>
				<xs:element name="substanceAdministration" type="hl7v3:POCD_MT000040.SubstanceAdministration"/>
				<xs:element name="supply" type="hl7v3:POCD_MT000040.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipHasComponent" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Component5">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="section" type="hl7v3:POCD_MT000040.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipHasComponent" use="optional" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Consent">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="CONS"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Consumable">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manufacturedProduct" type="hl7v3:POCD_MT000040.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="CSM"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Criterion">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="value" type="hl7v3:ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Custodian">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assignedCustodian" type="hl7v3:POCD_MT000040.AssignedCustodian"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.CustodianOrganization">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:ON" minOccurs="0"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassOrganization" use="optional" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.DataEnterer">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Device">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="hl7v3:SC" minOccurs="0"/>
			<xs:element name="softwareName" type="hl7v3:SC" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassDevice" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.DocumentationOf">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="serviceEvent" type="hl7v3:POCD_MT000040.ServiceEvent"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipType" use="optional" fixed="DOC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.EncompassingEncounter">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS"/>
			<xs:element name="dischargeDispositionCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="responsibleParty" type="hl7v3:POCD_MT000040.ResponsibleParty" minOccurs="0"/>
			<xs:element name="encounterParticipant" type="hl7v3:POCD_MT000040.EncounterParticipant" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="hl7v3:POCD_MT000040.Location" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="ENC"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Encounter">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:x_DocumentEncounterMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.EncounterParticipant">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_EncounterParticipant" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Entity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="desc" type="hl7v3:ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Entry">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="act" type="hl7v3:POCD_MT000040.Act"/>
				<xs:element name="encounter" type="hl7v3:POCD_MT000040.Encounter"/>
				<xs:element name="observation" type="hl7v3:POCD_MT000040.Observation"/>
				<xs:element name="observationMedia" type="hl7v3:POCD_MT000040.ObservationMedia"/>
				<xs:element name="organizer" type="hl7v3:POCD_MT000040.Organizer"/>
				<xs:element name="procedure" type="hl7v3:POCD_MT000040.Procedure"/>
				<xs:element name="regionOfInterest" type="hl7v3:POCD_MT000040.RegionOfInterest"/>
				<xs:element name="substanceAdministration" type="hl7v3:POCD_MT000040.SubstanceAdministration"/>
				<xs:element name="supply" type="hl7v3:POCD_MT000040.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_ActRelationshipEntry" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.EntryRelationship">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sequenceNumber" type="hl7v3:INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="hl7v3:BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="hl7v3:POCD_MT000040.Act"/>
				<xs:element name="encounter" type="hl7v3:POCD_MT000040.Encounter"/>
				<xs:element name="observation" type="hl7v3:POCD_MT000040.Observation"/>
				<xs:element name="observationMedia" type="hl7v3:POCD_MT000040.ObservationMedia"/>
				<xs:element name="organizer" type="hl7v3:POCD_MT000040.Organizer"/>
				<xs:element name="procedure" type="hl7v3:POCD_MT000040.Procedure"/>
				<xs:element name="regionOfInterest" type="hl7v3:POCD_MT000040.RegionOfInterest"/>
				<xs:element name="substanceAdministration" type="hl7v3:POCD_MT000040.SubstanceAdministration"/>
				<xs:element name="supply" type="hl7v3:POCD_MT000040.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_ActRelationshipEntryRelationship" use="required"/>
		<xs:attribute name="inversionInd" type="hl7v3:bl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="hl7v3:bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="hl7v3:bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ExternalAct">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ExternalDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="setId" type="hl7v3:II" minOccurs="0"/>
			<xs:element name="versionNumber" type="hl7v3:INT" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassDocument" use="optional" default="DOC"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ExternalObservation">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ExternalProcedure">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="PROC"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Guardian">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="guardianPerson" type="hl7v3:POCD_MT000040.Person"/>
				<xs:element name="guardianOrganization" type="hl7v3:POCD_MT000040.Organization"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClass" use="optional" fixed="GUARD"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.HealthCareFacility">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="location" type="hl7v3:POCD_MT000040.Place" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Informant12">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
				<xs:element name="relatedEntity" type="hl7v3:POCD_MT000040.RelatedEntity"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.InformationRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="intendedRecipient" type="hl7v3:POCD_MT000040.IntendedRecipient"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_InformationRecipient" use="optional" default="PRCP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.InFulfillmentOf">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="order" type="hl7v3:POCD_MT000040.Order"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipFulfills" use="optional" fixed="FLFS"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.IntendedRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informationRecipient" type="hl7v3:POCD_MT000040.Person" minOccurs="0"/>
			<xs:element name="receivedOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:x_InformationRecipientRole" use="optional" default="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.LabeledDrug">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassManufacturedMaterial" use="optional" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="optional" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.LanguageCommunication">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="modeCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="proficiencyLevelCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="preferenceInd" type="hl7v3:BL" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.LegalAuthenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:TS"/>
			<xs:element name="signatureCode" type="hl7v3:CS"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="ID_attr"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="LA"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Location">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="healthCareFacility" type="hl7v3:POCD_MT000040.HealthCareFacility"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetLocation" use="optional" fixed="LOC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.MaintainedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="maintainingPerson" type="hl7v3:POCD_MT000040.Person"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClass" use="optional" fixed="MNT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ManufacturedProduct">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="manufacturedLabeledDrug" type="hl7v3:POCD_MT000040.LabeledDrug"/>
				<xs:element name="manufacturedMaterial" type="hl7v3:POCD_MT000040.Material"/>
			</xs:choice>
			<xs:element name="manufacturerOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassManufacturedProduct" use="optional" fixed="MANU"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Material">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0"/>
			<xs:element name="lotNumberText" type="hl7v3:ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassManufacturedMaterial" use="optional" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminerDetermined" use="optional" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.NonXMLBody">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="hl7v3:ED"/>
			<xs:element name="confidentialityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Observation">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD"/>
			<xs:element name="derivationExpr" type="hl7v3:ST" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="repeatNumber" type="hl7v3:IVL_INT" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="value" type="hl7v3:ANY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="interpretationCode" type="hl7v3:CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="hl7v3:CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="hl7v3:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referenceRange" type="hl7v3:POCD_MT000040.ReferenceRange" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:x_ActMoodDocumentObservation" use="required"/>
		<xs:attribute name="negationInd" type="hl7v3:bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ObservationMedia">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="value" type="hl7v3:ED"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="ID_attr"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ObservationRange">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="value" type="hl7v3:ANY" minOccurs="0"/>
			<xs:element name="interpretationCode" type="hl7v3:CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Order">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Organization">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:ON" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="standardIndustryClassCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="asOrganizationPartOf" type="hl7v3:POCD_MT000040.OrganizationPartOf" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassOrganization" use="optional" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.OrganizationPartOf">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="wholeOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClass" use="optional" fixed="PART"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Organizer">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="hl7v3:POCD_MT000040.Component4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:x_ActClassDocumentEntryOrganizer" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ParentDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="setId" type="hl7v3:II" minOccurs="0"/>
			<xs:element name="versionNumber" type="hl7v3:INT" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClinicalDocument" use="optional" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Participant1">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="functionCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="time" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="associatedEntity" type="hl7v3:POCD_MT000040.AssociatedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Participant2">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="awarenessCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="participantRole" type="hl7v3:POCD_MT000040.ParticipantRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ParticipantRole">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="playingDevice" type="hl7v3:POCD_MT000040.Device" minOccurs="0"/>
				<xs:element name="playingEntity" type="hl7v3:POCD_MT000040.PlayingEntity" minOccurs="0"/>
			</xs:choice>
			<xs:element name="scopingEntity" type="hl7v3:POCD_MT000040.Entity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassRoot" use="optional" default="ROL"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Patient">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0"/>
			<xs:element name="name" type="hl7v3:PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="birthTime" type="hl7v3:TS" minOccurs="0"/>
			<xs:element name="maritalStatusCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="religiousAffiliationCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="raceCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="ethnicGroupCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="guardian" type="hl7v3:POCD_MT000040.Guardian" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="birthplace" type="hl7v3:POCD_MT000040.Birthplace" minOccurs="0"/>
			<xs:element name="languageCommunication" type="hl7v3:POCD_MT000040.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.PatientRole">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patient" type="hl7v3:POCD_MT000040.Patient" minOccurs="0"/>
			<xs:element name="providerOrganization" type="hl7v3:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClass" use="optional" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Performer1">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="functionCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="time" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_ServiceEventPerformer" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Performer2">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="time" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationPhysicalPerformer" use="optional" fixed="PRF"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Person">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:PN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Place">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:EN" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassPlace" use="optional" fixed="PLC"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.PlayingEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="quantity" type="hl7v3:PQ" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="hl7v3:ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Precondition">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="criterion" type="hl7v3:POCD_MT000040.Criterion"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipType" use="optional" fixed="PRCN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Procedure">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="methodCode" type="hl7v3:CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="approachSiteCode" type="hl7v3:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="hl7v3:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="required"/>
		<xs:attribute name="moodCode" type="hl7v3:x_DocumentProcedureMood" use="required"/>
		<xs:attribute name="negationInd" type="hl7v3:bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Product">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manufacturedProduct" type="hl7v3:POCD_MT000040.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="PRD"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RecordTarget">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patientRole" type="hl7v3:POCD_MT000040.PatientRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Reference">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="seperatableInd" type="hl7v3:BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="externalAct" type="hl7v3:POCD_MT000040.ExternalAct"/>
				<xs:element name="externalObservation" type="hl7v3:POCD_MT000040.ExternalObservation"/>
				<xs:element name="externalProcedure" type="hl7v3:POCD_MT000040.ExternalProcedure"/>
				<xs:element name="externalDocument" type="hl7v3:POCD_MT000040.ExternalDocument"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_ActRelationshipExternalReference" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ReferenceRange">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="observationRange" type="hl7v3:POCD_MT000040.ObservationRange"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ActRelationshipType" use="optional" fixed="REFV"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RegionOfInterest.value">
		<xs:complexContent>
			<xs:extension base="hl7v3:INT">
				<xs:attribute name="unsorted" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RegionOfInterest">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CS"/>
			<xs:element name="value" type="hl7v3:POCD_MT000040.RegionOfInterest.value" maxOccurs="unbounded"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="ID_attr"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="required" fixed="ROIOVL"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RelatedDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="parentDocument" type="hl7v3:POCD_MT000040.ParentDocument"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:x_ActRelationshipDocument" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RelatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="relatedPerson" type="hl7v3:POCD_MT000040.Person" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassMutualRelationship" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.RelatedSubject">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="addr" type="hl7v3:AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="hl7v3:TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.SubjectPerson" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:x_DocumentSubject" use="optional" default="PRS"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ResponsibleParty">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assignedEntity" type="hl7v3:POCD_MT000040.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="RESP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Section">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="title" type="hl7v3:ST" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:StrucDoc.Text" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entry" type="hl7v3:POCD_MT000040.Entry" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="hl7v3:POCD_MT000040.Component5" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="ID_attr"/>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.ServiceEvent">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Specimen">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimenRole" type="hl7v3:POCD_MT000040.SpecimenRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationType" use="optional" fixed="SPC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.SpecimenRole">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimenPlayingEntity" type="hl7v3:POCD_MT000040.PlayingEntity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:RoleClassSpecimen" use="optional" fixed="SPEC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.StructuredBody">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="languageCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="component" type="hl7v3:POCD_MT000040.Component3" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="optional" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="hl7v3:ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Subject">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="awarenessCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="relatedSubject" type="hl7v3:POCD_MT000040.RelatedSubject"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7v3:ParticipationTargetSubject" use="optional" fixed="SBJ"/>
		<xs:attribute name="contextControlCode" type="hl7v3:ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.SubjectPerson">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7v3:PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="birthTime" type="hl7v3:TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="hl7v3:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.SubstanceAdministration">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="repeatNumber" type="hl7v3:IVL_INT" minOccurs="0"/>
			<xs:element name="routeCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="approachSiteCode" type="hl7v3:CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="doseQuantity" type="hl7v3:IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="hl7v3:IVL_PQ" minOccurs="0"/>
			<xs:element name="maxDoseQuantity" type="hl7v3:RTO_PQ_PQ" minOccurs="0"/>
			<xs:element name="administrationUnitCode" type="hl7v3:CE" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consumable" type="hl7v3:POCD_MT000040.Consumable"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClass" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="hl7v3:x_DocumentSubstanceMood" use="required"/>
		<xs:attribute name="negationInd" type="hl7v3:bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000040.Supply">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7v3:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7v3:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7v3:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7v3:CD" minOccurs="0"/>
			<xs:element name="text" type="hl7v3:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7v3:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7v3:SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="hl7v3:CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="hl7v3:IVL_INT" minOccurs="0"/>
			<xs:element name="independentInd" type="hl7v3:BL" minOccurs="0"/>
			<xs:element name="quantity" type="hl7v3:PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="hl7v3:IVL_TS" minOccurs="0"/>
			<xs:element name="subject" type="hl7v3:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7v3:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="product" type="hl7v3:POCD_MT000040.Product" minOccurs="0"/>
			<xs:element name="performer" type="hl7v3:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7v3:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7v3:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7v3:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7v3:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7v3:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7v3:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7v3:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7v3:ActClassSupply" use="required" fixed="SPLY"/>
		<xs:attribute name="moodCode" type="hl7v3:x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
</xs:schema>
