ehealth_connector-validation/ehealth_connector-validation-service/src/main/resources/configuration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- =================================================================== -->
<!-- Configuration schema for CDA-Validator                              -->
<!--                                                                     -->
<!-- History:                                                            -->
<!-- 20130430: Laurent Millet, medshare GmbH (V1.0.0)                    -->
<!-- 20160428: Tony Schaller,  medshare GmbH (eHC Integration)           -->
<!--                                                                     -->
<!-- =================================================================== -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

	<!-- =================================================================== -->
	<!-- The unique root element of the XML configuration file.              -->
	<!-- =================================================================== -->

	<xsd:element name="configuration" type="ConfigurationType">
		<xsd:annotation>
			<xsd:documentation>
				The unique root element of the XML configuration file.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- =================================================================== -->
	<!-- The root type of the XML configuration file. It has an optional     -->
	<!-- baseDir attribute and must have exactly one schematron sub-element. -->
	<!-- =================================================================== -->

	<xsd:complexType name="ConfigurationType">
		<xsd:sequence>
			<xsd:element name="application" type="ApplicationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The application related configuration.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="schematron" type="SchematronType">
				<xsd:annotation>
					<xsd:documentation>
						The Schematron related configuration. This mainly defines which
						rule-sets should be made available in the Online-Validator.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="baseDir" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The base directory. If specified, all non-absolute path specifications
					will be relative to this directory.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="workDir" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The work directory. If specified, all precompiled Schematrons will be 
					stored in this directory. If not specified, a work directory will be created in the path 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- =================================================================== -->
	<!-- The application configuration                                       -->
	<!-- =================================================================== -->
	<xsd:complexType name="ApplicationType">

        <!-- =============================================================== -->
		<!-- Application configuration for Online CDA Validator              -->
        <!-- =============================================================== -->
		<xsd:sequence>
			<xsd:element name="downloads-url" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						URL of the download page.
						This parameter is used for Online-CDA-Validators only.
						No use of this in the eHealth Connector CDA Validation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="jquery-theme" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Name of the JQuery theme to use (without extension).
						This parameter is used for Online-CDA-Validators only.
						No use of this in the eHealth Connector CDA Validation.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

	        <!-- =========================================================== -->
			<!-- Application configuration for XML Schema Validation         -->
	        <!-- =========================================================== -->
			<xsd:element name="document-schema" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The XSD Schema the input documents must conform.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

	        <!-- =========================================================== -->
			<!-- Application configuration for PDF Validation                -->
	        <!-- =========================================================== -->
			<xsd:element name="pdf-level" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The PDF Level used for Validation:
						1a: PDF/A 1a, ISO 19005-1, Level A compliance
						1b: PDF/A 1b, ISO 19005-1, Level B compliance
						2a: PDF/A 2a, ISO 19005-2, Level A compliance
						2b: PDF/A 2b, ISO 19005-2, Level B compliance
						2u: PDF/A 2u, ISO 19005-2, Level U compliance
						3a: PDF/A 3a, ISO 19005-3, Level A compliance
						3b: PDF/A 3b, ISO 19005-3, Level B compliance
						3u: PDF/A 3u, ISO 19005-3, Level U compliance
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pdf-reporting-level" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The level of validation result reporting:
						0: none Nothing is reported
						1: errors Errors are reported
						2: warnings Errors and warnings are reported
						3: information Error, warnings and information are reported
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="license-key" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The license-key for the external and commercial 3-Heights™ PDF Validator (http://www.pdf-tools.com/)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

	        <!-- =========================================================== -->
			<!-- Application configuration for Validation execution          -->
	        <!-- =========================================================== -->
			<xsd:element name="minimal-memory-sch" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The initial Java heap size required for a Schematron validation.
						
						Supported format: nnn[suffix]
						- nnn = amount
						- suffix: k for kilobytes, m for megabytes, g for gigabytes
						
						Examples:
						1073741824 = 1048576 = 1024 Bytes
						1g = 1k = 1024 Bytes 
						
						Minimum recommendation for ELGA (ART-DECOR Schematron):
						- Configuration minimal-memory-sch: 200m
						- Java VM args: -Xmx800m -Xms800m for 4 Threads 
						 
						Minimum recommendation for CDA-CH (handwritten Schematron):
						- Configuration minimal-memory-sch: 20m
						- Java VM args: -Xmx65m -Xms65m for 4 Threads 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="insufficient-memory-reaction" type="InsufficientMemoryReaction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The desired behavior in case of insufficient memory on the machine.
						On .NET use: throwException  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeout-sleep-ms" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The amount of milliseconds to sleep in case of insufficient memory 
						This is only applied when insufficient-memory-reaction=sleep 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeout-max-s" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The maximum amount of seconds to wait in case of insufficient memory 
						This is only applied when insufficient-memory-reaction=sleep 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeout-reaction" type="MaxWaitReaction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The desired behavior in case when not enough memory was available during the maximum time specified 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =================================================================== -->
	<!-- The Schematron element consists of one or many rule-set elements.   -->
	<!-- It has a mandatory dir attribute, which is used when the path       -->
	<!-- of a rule-set element is not absolute.                              -->
	<!-- =================================================================== -->

	<xsd:complexType name="SchematronType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:appinfo>
					<jxb:property name="ruleSets" />
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:element name="rule-set" type="RuleSetType">
				<xsd:annotation>
					<xsd:documentation>
						Defines a single Schematron rule-set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="dir" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					The root directory of the Schematron rule-sets. 
					The specified path can either be absolute or relative to the base directory.
				</xsd:documentation>
				<xsd:appinfo>
					<jxb:property name="directory" />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- =================================================================== -->
	<!-- The Rule-Set element has a mandatory file attribute and an optional -->
	<!-- oid attribute. A rule-set can have an optional display-name and a   -->
	<!-- description sub-element.                                            -->
	<!-- =================================================================== -->

	<xsd:complexType name="RuleSetType">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The description of the rule-set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="display-name" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The human readable name of the rule-set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="templateId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						The root template ID of a source CDA document matching this rule-set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="file" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					The path to the master Schematron file of this rule-set.
					The specified path can either be absolute or relative.
				</xsd:documentation>
				<xsd:appinfo>
					<jxb:property name="fileName" />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="persistable" type="xsd:boolean" default="true">
			<xsd:annotation>
				<xsd:documentation>
					Allows/disallows storing the transformed rule-set to the disk.
					This spares three transformation steps and significantly speeds up the creation of the validator.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="cacheable" type="xsd:boolean" default="true">
			<xsd:annotation>
				<xsd:documentation>
					Allows/disallows caching of the compiled validator stylesheet.
					This makes the validator stylesheet immediately available.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- =================================================================== -->
	<!-- Enumerations used in this XML configuration file.                   -->
	<!-- =================================================================== -->
	<xsd:simpleType name="InsufficientMemoryReaction" final="restriction" >
	    <xsd:restriction base="xsd:string">
	        <xsd:enumeration value="throwException" />
	        <xsd:enumeration value="returnValidationError" />
	        <xsd:enumeration value="sleep" />
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MaxWaitReaction" final="restriction" >
	    <xsd:restriction base="xsd:string">
	        <xsd:enumeration value="throwException" />
	        <xsd:enumeration value="returnValidationError" />
	    </xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
